body{
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

table{
    margin: auto;
    /* border: 2px solid; */
}

table, th, td {
  border: 1px solid black;
}

td{
    padding: 10px;
    padding-left: 5px;
}
