body {
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

table {
    margin: auto;
    /* border: 2px solid; */
}

table,
th,
td {
    border: 1px solid black;
    text-align: left;
}

td {
    padding: 10px;
    padding-left: 5px;
}

button {
    cursor: pointer;
}

.add-book {
    margin-top: 20px;
}

.book-details-modal {
    width: max-content;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}